.appointment-main-div{
    width:100%;
}

.appointment-main-div .appointment-form-heading{
    color:#0D5DBD;
    text-align: left;
    margin-bottom: 2%;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .appointment-main-div .appointment-form-heading{
        font-size: 14px;
        font-weight: 500;
    } 
}