.logo-main-div{
    display:block;
    color : green;
}

.logo-img{
    height:50px;
    width:200px;
}
@media screen and (max-width: 992px) {
    .logo-img{
        height:35px !important;
        width:135px !important;
    }
}