
.contact-main-div .contact-message-details{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    background-color:#fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    padding:5% 0%;
    margin: 0 auto;
}
.contact-main-div .contact-message-details .details-wrapper-card{
    width:100%;
    background-color: #fff;
    border-radius: 25px;
    display:flex;
    justify-content: space-evenly;

}

.contact-main-div .contact-message-details .details-wrapper-card table{
    border-left:3px solid #A4D461;
    padding: 1%;
}
.contact-main-div .contact-message-details .details-wrapper-card table thead{
    color:#A4D461;
    font-size: 25px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;
}
.contact-main-div .contact-message-details .details-wrapper-card table tbody{
    color: #808080;;
    font-size: 16px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message-form-div{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top:1%;
    padding-bottom:5%;

}
.get-through-image{
    width:25%;
}
.form-card{
    width:25%;
    display: block;
    padding: 1%;
    border-radius: 15px;
}
.leave-msg-heading{
    font-size: 25px;
    color: #808080;
    font-weight: bold;
}
.leave-msg-form{
    margin-top:5px;
}
@media screen and (max-width: 992px) {
    .contact-main-div .contact-message-details{
        display:block;
    }
    .contact-main-div .contact-message-details .details-wrapper-card{
        display:block;  
    }
    .contact-main-div .contact-message-details .details-wrapper-card table{
        margin-bottom: 5%;
    }
    .contact-main-div .contact-message-details .details-wrapper-card table thead{
        font-size: 14px;
    }
    .contact-main-div .contact-message-details .details-wrapper-card table tbody{
        font-size: 12px;
    }
    .messeage-form-time-table-main-div{
        width:100%;
        display: block;
    }
    .message-form-div{
        width: 100%;
        display:block;
    }
    .get-through-image {
        width:100%;
        display: flex;
        justify-content: center;
        margin-bottom:5%;
    }
    .get-through-image img{
        width:80%;
    }
    .form-card{
        width:80%;
        margin:0 auto;
    }
    .leave-msg-heading{
        font-size: 17px;
    }
}



