.testimonial-panel-main-div{
    width:100%;
    background-color: #aac9ed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.testimonial-panel-main-div .testimonial-heading{
    color:#fff;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 25px;
}
.testimonial-panel-main-div .testimonial-heading .small-heading{
    font-size: 30px;
}
.testimonial-panel-main-div .testimonial-heading .bold-heading{
    font-size: 45px;
}
.user-feedback-cards{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}