.user-feedback-main{
    width:20%;
    height:20vh;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border-left:2px solid #0D5DBD;
}
.user-feedback-main .user-name-row{
    width:100%;
    height: 60px;
    background-color: #fff;;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.user-feedback-main .user-name-row  .user-details{
    width:50%;
    background-color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left:2%;
}
.user-avatar{
    display:flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
    border-radius: 50%;
    background-color:#f7f8f8;
}
.user-name{
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}
.user-name span{
    font-size: 10px;
    font-style: italic ;
    color:#808080;
}
.user-feedback-main .user-name-row .user-rating{
    width:45%;
    background-color: #fff;
}
.user-feedback-main .feedbac-details{
    height:7vh;
    font-size: 14px;
    font-style: italic;
    padding:2% 5%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #808080;
}
.user-feedback-main .feedbac-footer{
    display: block;
    text-align: right;
    font-size: 12px;
    font-style: italic ;
    color:#808080;
    padding: 1%;
}
