.footer-main-div{
    width:100%;
    display:block;
    background-color: #fff;
}

.footer-main-div .footer-inside-block{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    font-weight: 500;
}

.footer-main-div .footer-inside-block .footer-column-headings{
    font-weight: bold;
    font-size:16px;
    color:#0D5DBD;
    letter-spacing: 1px;
}

.footer-main-div .footer-inside-block table tbody{
    color:#000;
}