.main{
    width: 100%;
    height:65vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    text-align: center;
    padding-top: 2%;
}
.name-heading{
    font-size:30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #7ba7d6;
}
.customized-doctor-heading{
    font-size: 45px;
}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
.inside{
    width:50%;
    display:flex;
    padding:1%
}
.img{
    width:25%;
    padding: 2%;
    border:3px solid rgb(226, 226, 229);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
    font-size:16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color:#0D5DBD;
}
.img .doctor-qualification{
    color:#808080;
    font-size: 12px;
    font-weight: bold;
}
.description{
    width:80%;
    font-size: 16px;
    letter-spacing: 1px;
    color:#808080;
    padding:2%;
    text-align: justify;
    text-justify: inter-word;
    border-top: 3px solid rgb(226, 226, 229);
    border-right: 3px solid rgb(226, 226, 229);
    border-bottom: 3px solid rgb(226, 226, 229);
    border-radius: 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color:#fff;
    font-weight: 500;
}
