.service-component-main-div {
    width: 100%;
    background-color: #fff;
    padding: 5% 0% 5% 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    display: block;
}

.service-component-main-div .our-service-heading {
    width: 100%;
    display: block;
    color: #0D5DBD;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-component-main-div .service-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    align-items: center;
    padding: 1% 0% 1% 0%;
    margin: 0 auto;

}

.service-component-main-div .service-card {
    width: 35%;
    padding: 10px;
    height: 200px;
    border: 3px solid rgb(226, 226, 229);
    border-radius: 10px;
    background-color: #0D5DBD;
    text-align: center;
}

.service-component-main-div .service-card .service-card-heading {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
}

.service-component-main-div .service-card .service-card-details {
    font-size: 16px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
}
.service-component-main-div .service-card:hover {
    width: 30%;
    height: 220px;
}
@media screen and (max-width: 992px) {
    .service-component-main-div .our-service-heading{
        font-size:20px !important;
        margin-bottom: 10px;
    }
    .service-component-main-div .service-card-wrapper {
        display: block;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
    
    }
    .service-component-main-div .service-card{
        width: 75%;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .service-component-main-div .service-card .service-card-heading {
        font-size: 16px;
    }
    .service-component-main-div .service-card .service-card-details {
        font-size: 13px;
    }
    .service-component-main-div .service-card:hover {
        width: 65%;
        height: 175px;
    }
}