.service-section-main-div{
    display:block;
    padding:5% 0%;
}
.service-section-header{
    width: 100%;
    display: block;
    color: #A4D461;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}
.service-section-description-div{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
.service-section-div-one{
    width:45%;
    border:2px solid black;
    height:25vh;

}
.service-section-div-two{
    width:45%;
    
}
.service-card-one{
    width:75%;
    display:block;
    padding:1%;

}
.description-wrapper{
    display:flex;
}
.number-header{
    width: 10%;
    color: #A4D461;
    font-size: 50px;
    margin:0 auto;
    text-align: center;
    font-weight: 600;
}
.description-block{
    width: 90%;
}
.service-header{
    width: 100%;
    display:block;
    font-size: 25px;
    color:#A4D461;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.service-description{
    width: 100%;
    display:block;
    color:#808080;
    letter-spacing: 0.5px;
}